.cover-img {
    background-image: url('/public/images/cover.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    opacity: 0.8;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

#root {
    margin: 0;
    padding: 0;
}

.btn-app {
    width: 25%;
    height: 15%;
    font-size: 5rem;
    white-space: nowrap;
    text-decoration: none;
}